<!doctype html>
<html>
    <head>
        <meta charset="utf-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"></meta>
        <link rel="stylesheet" href="style.css" type="text/css"></link>
        <title>首頁</title>
    </head>
    <body>
        <header>
            <div class="slogan">歡迎光臨，這是會員頁</div>
        </header>
        <div class="box">
            <div class="title">帳號或密碼輸入錯誤</div>   
        </div>
    </body>
</html>