<!doctype html>
<html>
    <head>
        <meta charset="utf-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"></meta>
        <link rel="stylesheet" href="style.css" type="text/css"></link>
        <title>首頁</title>
    </head>
    <body>
        <header>
            <div class="slogan">歡迎光臨，這是會員頁</div>
        </header>
        <div class="title">恭喜您，成功登入系統</div>
        <form action="/signout" method="get">
            <div class="box">
                <a href="/signout">登出系統</a>
            </div>
        </form>
    </body>
</html>